# Key Statistical Concepts




### Mean
The mean is the average of a dataset and is calculated by summing all the values and dividing by the total number of observations. It provides a central value of the data.

- Example:

In a data analytics scenario, suppose we have the following sales data for a week (in thousands of dollars): [10, 15, 20, 25, 30]. The mean or average will be 20

```python
sales = [10, 15, 20, 25, 30]
mean_sales = sum(sales) / len(sales)
print(f"Mean Sales:{mean_sales}") # Output: Mean Sales: 20.0
```

In [ ]:
# We can use numpy to calculate it
import numpy as np

# Sales data
sales = [10, 15, 20, 25, 30]

print(f"Mean:{np.mean(sales)}")

### Median
The median is the middle value of a dataset when sorted in ascending order. It is useful in datasets that may contain outliers.

- Example:

Consider customer ages: [22,25,29,50,35], the median age, the one in the middle is 29

```python
ages = [22, 25, 29, 50, 35]
sorted_ages = sorted(ages)
n = len(sorted_ages)
median_age = sorted_ages[n // 2] if n % 2 != 0 else (sorted_ages[n // 2 - 1] + sorted_ages[n // 2]) / 2
print(f"Median Age: {median_age}") # Output: Median Age: 29
```

In [ ]:
#using NumPy
import numpy as np
ages = [22, 25, 29, 50, 35]
print(f"Median Age:{np.median(ages)}"): # Output: Median Age: 29

### Mode
The mode is the value that appears most frequently in a dataset. It is particularly useful for categorical data.

Example:
In a survey about favorite fruits, the responses are:
["Apple","Banana","Apple","Orange","Banana","Banana"]
The mode, or the most frequent value is "Banana"

```python
from statistics import mode

fruits = ["Apple", "Banana", "Apple", "Orange", "Banana", "Banana"]
mode_fruit = mode(fruits)
print(f"Mode of Fruits:{mode_fruit}") # Output: Mode of Fruits: Banana
```
> For numerical data, NumPy also provides a more direct way to calculate the mode using `scipy.stats.mode()`

In [ ]:
from statistics import mode

fruits = ["Apple", "Banana", "Apple", "Orange", "Banana", "Banana"]
mode_fruit = mode(fruits)
print(f"Mode of Fruits:{mode_fruit}") # Output: Mode of Fruits: Banana

### Variance
Variance measures how far each number in the dataset is from the mean and indicates the degree of spread in the data.

- Example:

In analyzing test scores: [80,85,90,95,100]

Mean =
$\frac{80 + 85 + 90 + 95 + 100}{5}$ = $\frac{450}{5}$ = 90

Calculate the Squared Differences from the Mean:

- $(80-90)^2 = 100$
- $(85-90)^2 = 25$
- $(90-90)^2 = 0$
- $(95-90)^2 = 25$
- $(100-90)^2 = 100$

Sum the Squared Differences:
100+25+0+25+100=250

Calculate the Variance (using sample variance, which divides by $n−1$):

Variance = $\frac{250}{5 - 1}$ = $\frac{250}{4}$ = 62.5


```python
scores = [80, 85, 90, 95, 100]
mean_score = sum(scores) / len(scores)
variance = sum((x - mean_score) ** 2 for x in scores) / (len(scores) - 1)
print(f"Variance of Scores: {variance}") # Output: Variance of Scores: 62.5
```

In [ ]:
# Using NumPy
import numpy as np

# List of scores
scores = [80, 85, 90, 95, 100]

# Calculate mean using NumPy
mean_score_np = np.mean(scores)

# Calculate variance using NumPy (ddof=1 for sample variance)
variance_np = np.var(scores, ddof=1)

print(f"Variance of Scores (NumPy): {variance_np}") # Output: Variance of Scores (NumPy): 62.5

> The degrees of freedom (ddof) parameter is key to understanding how variance is calculated. When you're calculating variance, you have two options: **population variance** (ddof=0) or **sample variance** (ddof = 1). When you're working with a sample, you typically use ddof=1 to ensure an unbiased estimate of the population variance. When you have data for the entire population, you can use ddof=0.

### Standard Deviation
The standard deviation is the square root of the variance and provides a measure of the average distance of each data point from the mean.

- Example:

Using the same test scores:
[80,85,90,95,100] the standard deviation is $\sqrt{62.5}$ = 7.9

```python
import math

std_dev = math.sqrt(variance)
print(f"Standard Deviation of Scores: {std_dev}") # Output: Standard Deviation of Scores: 7.905694150420948
```

In [ ]:
# Using NumPy
import numpy as np

# List of scores
scores = [80, 85, 90, 95, 100]

# Sample standard deviation (ddof=1)
sample_std_dev = np.std(scores, ddof=1)  # Sample standard deviation

print(f"Sample Standard Deviation: {sample_std_dev}")


### Quantiles
Quantiles divide a dataset into equal-sized subsets. For instance, quartiles divide the data into four equal parts.
Quantiles are useful to identify outliers in the data

- Example:

Consider the following exam scores:
[60,70,80,90,100]

```python
scores = [60, 70, 80, 90, 100]
sorted_scores = sorted(scores)

# Calculate quartiles
q1 = sorted_scores[int(len(sorted_scores) * 0.25)]
q2 = sorted_scores[int(len(sorted_scores) * 0.5)]  # Median
q3 = sorted_scores[int(len(sorted_scores) * 0.75)]

print(f"1st Quartile (Q1):{q1}") # Output: 1st Quartile (Q1):70
print(f"Median (Q2):{q2}") # Output: Median (Q2):80
print(f"3rd Quartile (Q3):{q3}") # Output: 3rd Quartile (Q3):90
```

In [ ]:
# Using NumPy
import numpy as np

# Scores
scores = [60, 70, 80, 90, 100]

# Calculate the quartiles using NumPy's percentile function
q1 = np.percentile(scores, 25)  # 1st Quartile (Q1) - 25th percentile
q2 = np.percentile(scores, 50)  # 2nd Quartile (Q2 - Median) - 50th percentile
q3 = np.percentile(scores, 75)  # 3rd Quartile (Q3) - 75th percentile

# Print the results
print(f"1st Quartile (Q1): {q1}")
print(f"Median (Q2): {q2}")
print(f"3rd Quartile (Q3): {q3}")

#Dataframes

In Python, dataframes are widely used data structures that represent data in a tabular form—organized in rows and columns, much like a spreadsheet or a SQL table. Dataframes make data analysis, manipulation, and visualization much easier, especially when working with large datasets.

**What is a DataFrame?**

A DataFrame is essentially a two-dimensional, labeled data structure with columns of potentially different types. This versatility allows users to work with heterogeneous data types within a single structure, making dataframes very powerful for data science and machine learning.

**Key characteristics of a DataFrame:**

- Two-dimensional: It has rows and columns, which gives it a tabular structure.
- Labeled axes: Rows and columns can be labeled, making it easy to reference parts of the DataFrame by name rather than by position.
- Flexible data types: Each column can hold a different data type (e.g., integers, floats, strings, dates).

## Types of DataFrames in Python
While pandas is the most widely used library for dataframes in Python, other libraries implement dataframes with additional functionality or optimizations tailored for specific use cases.

Here are some of the primary types of dataframes in Python:

| **DataFrame Type** | **Best Use Case**                                                  | **Memory Usage**                           | **Description**                                                                                 |
|--------------------|--------------------------------------------------------------------|--------------------------------------------|-------------------------------------------------------------------------------------------------|
| **[Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)**         | Small to medium datasets that fit in memory                       | In-memory                                  | Standard Python library for data manipulation and analysis.                                     |
| **[Dask](https://docs.dask.org/en/stable/dataframe.html)**           | Large datasets that exceed memory limits, single-machine parallel | Out-of-core (chunk-based, parallel)        | Extension of pandas for handling large data, processing in parallel.                            |
| **[Koalas/PySpark](https://koalas.readthedocs.io/en/latest/reference/frame.html#constructor)** | Big data processing on distributed cluster with Spark             | Distributed (cluster-based)                | Spark-compatible dataframe for big data, scalable to clusters.                                  |
| **[Modin](https://modin.readthedocs.io/en/latest/usage_guide/index.html)**          | Pandas-compatible workflows with faster, parallel execution       | In-memory (parallel)                       | Parallelized pandas replacement for faster execution.                                           |
| **[Polars](https://docs.pola.rs/)**         | Performance-critical applications on large datasets               | In-memory (optimized for speed)            | Rust-based dataframe optimized for speed, available in Python.                                  |
| **[Vaex](https://vaex.io/docs/api.html)**           | Extremely large datasets without loading all data into memory     | Out-of-core (efficient memory usage)       | Handles large datasets out-of-core; efficient for exploration and stats.                        |


<img src="https://pandas.pydata.org/static/img/pandas_white.svg" alt="Pandas Logo" height="50" >

<img src="https://docs.dask.org/en/stable/_static/images/dask-horizontal-white.svg" alt="Dask Logo" height="50" >

<img src="https://koalas.readthedocs.io/en/latest/_static/koalas-logo-docs.png" alt="Koalas Logo" height="50" >

<img src="https://modin.readthedocs.io/en/latest/_images/MODIN_ver2_hrz.png" alt="Modin Logo" height="50" >

<img src="https://raw.githubusercontent.com/pola-rs/polars-static/master/logos/polars-logo-dimmed-medium.png" alt="Polars Logo" height="50" >

<img src="https://vaex.io/docs/_static/logo-grey.svg" alt="Vaex Logo" height="50" >

## Pandas

Pandas is a powerful and widely-used library in Python for data manipulation and analysis. It provides flexible and efficient data structures, primarily
**Series** (1-dimensional) and **DataFrame** (2-dimensional), that make it easy to work with structured data. The DataFrame is especially valuable for data analytics as it allows you to store, filter, transform, and analyze datasets much like a spreadsheet or SQL table.

- Data Loading and Cleaning: Pandas can load data from various sources (CSV, Excel, SQL databases, etc.) and provides tools for handling missing values, duplicates, and other inconsistencies.
- Data Transformation: You can easily filter rows, select columns, group data, and apply complex transformations.
- Data Aggregation and Summary Statistics: Pandas provides efficient ways to compute summary statistics (mean, sum, median, etc.) for each group or column.
- Data Visualization Integration: Pandas integrates well with libraries like Matplotlib and Seaborn for quick visualizations.

Let’s go through some examples that demonstrate common tasks in data analytics using Pandas.

> For more details on especific functions [read the docs](https://pandas.pydata.org/docs/reference/index.html)

### Installing pandas

Installing pandas depends on the environment you're using.

1. In Jupyter notebooks, if you need to update pandas to a specific version, you can do the following:

  ```python
  # Install or update pandas to last version
  !pip install pandas --upgrade
  ```
  Run this in a Colab cell, and it will install or update pandas to the latest version.

  You can install a especific version of pandas using the `==` syntax.
  ```python
  # Install a certain version of pandas
  !pip install pandas==1.5.3
```
> **Google Colab** comes with pandas pre-installed, so you typically don't need to install it manually.

2. Installing Pandas in Jupyter Notebook or Local Python Environment
If you’re working locally in a Jupyter Notebook or any Python environment (like PyCharm, VS Code, etc.), you can use `pip to install pandas`.

  Open a terminal and run:

  ```bash
  pip install pandas
  ```
  If you want a specific version of pandas, specify it as follows:

  ```bash
  pip install pandas==1.5.3
  ```

3. Installing Pandas in Anaconda
If you’re using Anaconda, it’s often best to install pandas via the `conda` package manager, which manages dependencies more effectively within the Anaconda ecosystem.

  Using Conda
  Open the Anaconda Prompt and enter:

  ```bash
  conda install pandas
  ```
  This will install pandas and any required dependencies.

  If you want a specific version of pandas, you can specify it like this:

  ```bash
  conda install pandas=1.5.3
  ```
  Creating a New Environment with Pandas
  You can also create a new conda environment with pandas pre-installed:

  ```bash
  conda create -n myenv pandas
  ```
  Replace `myenv` with your desired environment name. To activate the environment, use:

  ```bash
  conda activate myenv
  ```

4. Verifying the Installation
To check that pandas installed correctly, open a Python environment (Colab, Jupyter, or terminal) and run:

  ```python
  import pandas as pd
  print(pd.__version__)  # This should display the installed pandas version
  ```
  This will confirm that pandas is installed and display the version.

In [ ]:
import pandas as pd
print(pd.__version__)  # This should display the installed pandas version

### Using Interactivity in Google Colab

Interactive tables enable you to visualize, filter, and manipulate data in real time, making it easier to derive insights and present findings effectively.

1. Interactive tables
```python
from google.colab import data_table
data_table.enable_dataframe_formatter()
```

2. Interactive sheets
```python
# This will create a new interactive google sheet with the data in the dataframe passed as paramter (results_df)
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=results_df)
```

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()

We can test it with any of the sample datasets provided:

In [ ]:
from vega_datasets import data
print(data.list_datasets())
cars = data.cars()
cars

### Working with files
When working with Pandas, the preferred file formats depend on your specific use case, data size, and performance requirements.

The most common are:

| **File Format**  | **Best for**                                  | **Pros**                                                       | **Cons**                                  |
|------------------|-----------------------------------------------|---------------------------------------------------------------|-------------------------------------------|
| **CSV**          | Small to medium datasets, interoperability   | Simple, human-readable, supported everywhere                  | Slower for large datasets, lacks metadata |
| **Parquet**      | Large datasets, big data, columnar storage   | Fast, compressed, efficient for large datasets, schema support | Not human-readable                       |
| **Feather**      | Fast I/O, sharing data between Python & R     | Fast, optimized for in-memory operations, cross-language support | Not as compressed as Parquet             |
| **HDF5**         | Large datasets, hierarchical data            | Efficient for large datasets, supports compression and chunking | Not human-readable, requires extra setup |
| **Excel (XLSX)** | Business environments, small to medium datasets | Widely used, easy to open/edit, supports multiple sheets        | Slower, larger file size, less efficient |
| **SQL Databases**| Persistent storage, large datasets with querying | Efficient querying, persistent, scalable storage               | Requires setup and maintenance           |
| **JSON**         | Data exchange between systems, hierarchical data | Flexible, human-readable, supports nested data structures      | Can be verbose, less efficient for large datasets |


> More details in https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html


We are going to work mostly with CSV files in the following examples for simplicity.

### Read from file
The `pandas.read_csv()` function allows you to read CSV files into a DataFrame, which is the core data structure in Pandas. The basic syntax is:
```python
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('path_to_file.csv')

# Print the DataFrame
print(df)
```
Parameters of read_csv() (key ones):
- filepath_or_buffer: The path to the CSV file you want to read (can be a URL, local file path, or file-like object).
- sep: The delimiter that separates columns (default is comma ,). You can change it for other delimiters like - tabs (\t), semicolons (;), etc.
- header: Row number to use as column names (default is 0, meaning the first row is used for column names).
- index_col: Column(s) to set as the index (default is None).
- usecols: Specify a subset of columns to read (can be a list of column names or indices).
- dtype: Specify the data type for one or more columns.
- na_values: Additional strings to recognize as NA/NaN.
- skiprows: Number of lines to skip from the top of the file.

> For more details you can read the docs: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

### Write to file
Once you have a DataFrame, you can write it to a CSV file using the `to_csv()` function. The basic syntax is:
```python
df.to_csv('output_file.csv', index=False)
```
Parameters of to_csv() (key ones):
- path_or_buffer: The file path or buffer where the CSV will be saved.
- sep: The delimiter to use (default is comma ,).
- index: Whether to write row names (index) (default is True). If you don't want to include the index in the output file, set index=False.
- header: Whether to write the column names (default is True).
- columns: A subset of columns to write.
- mode: File opening mode ('w' for write, 'a' for append).
- na_rep: String to replace missing values (default is '').
- encoding: The encoding format to use for saving the file (e.g., 'utf-8').

> For more details read the docs https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

# Exploratory Data Analysis with Pandas

## Importing the Library and Loading Data
First, let's import pandas and load a sample dataset. Here, we’ll use a sample CSV file, which could represent any real-world dataset.

```python
import pandas as pd

# Load data from a CSV file
# In real cases, you would use a file path, e.g., 'data.csv'
df = pd.read_csv("sample_data.csv")  # Replace with the path to your CSV file

# Display the first few rows of the dataset
df.head()
```

You can use the following to upload files to your Google Colab environment.
Please, note that the files will be removed when the session is finished, so keep a local copy.

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd

# Load data from a CSV file
df = pd.read_csv("sample_data/california_housing_test.csv")

##  Understading the Data



### Structure of the DataFrame

To get a quick overview of the DataFrame, use the **info** command:

```python
df.info()
```

The **shape** command will tell us the number of rows and columns of the data
```python
df.shape
```
With the **head** command we can get the first X rows of the dataframe
```python
df.head(5)
```
If there are multiple columns in the dataframe, by default it will appear with ... hiding some of the columns in the middle. Exploring the data we are interested in viewing all the columns, to do that we can use the set_option of pandas and indicate a number of columns that is big enough to accomodate all the columns that we have.

```python
pd.set_option('max_columns', 200)
df.head(5)
```

We can list the column names using the **columns** command
```python
df.columns
```

Each column in a dataframe is a series of data, and as such it´s associated with a data type in pandas.
To list the data types for each column we use the dtypes command
```python
df.dtypes
```


**Describe** will show you the number of entries, column names, non-null counts, and data types.

```python
df.describe()
```
The output is another DataFrame that includes several key statistics for each numerical column:

- count: The number of non-null entries.
- mean: The average value.
- std: The standard deviation, which measures the amount of variation or dispersion in the data.
- min: The minimum value.
- 25%: The first quartile, or the 25th percentile.
- 50%: The median, or the 50th percentile.
- 75%: The third quartile, or the 75th percentile.
- max: The maximum value.

| **Aspect**            | **`df.info()`**                                          | **`df.describe()`**                                      |
|-----------------------|----------------------------------------------------------|----------------------------------------------------------|
| **Purpose**           | Overview of DataFrame structure and missing data         | Summary statistics of numerical columns                  |
| **Output**            | Data types, non-null counts, memory usage                | Statistical summary (mean, min, max, std, etc.)          |
| **Works on**          | All columns, including non-numeric columns               | By default, only numerical columns                       |
| **Missing Values**    | Shows count of non-null values                          | Shows count of non-null values (for each column)         |
| **Data Types**        | Shows data types (e.g., `int64`, `float64`)              | Doesn't show data types, only summary stats              |
| **Statistical Summary**| Does not provide any statistical measures               | Provides mean, std, min, max, percentiles, etc.          |
| **Categorical Data**  | Shows dtype for object columns (strings)                 | Can summarize categorical data if specified (`include='object'`) |
| **When to Use**       | Use when you need a quick check on the **structure** of the DataFrame, including data types, non-null counts, and memory usage | Use when you want to quickly get **summary statistics** for the numerical columns, such as mean, median, standard deviation, and percentiles |

In [ ]:
df.shape

In [ ]:
# Display the first few rows of the dataset
df.head()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

### Listing Columns

To list all the columns in the DataFrame:

```python
df.columns
```
This is useful if we need to iterate through the columns of the dataframe

We can also get the data type of each column with
```python
df.dtypes
```

In [ ]:
df.columns

In [ ]:
df.dtypes

### Finding Minimum and Maximum Values

To find the minimum and maximum values of numerical columns you can use the dataframe functions or NumPy as we´ve seen before.

```python
min_values = df[column].min()
max_values = df[column].max()
```
> You can calculate other values like standard deviation, quantile, mean, mode and more using the same syntax.

In [ ]:
# Create a dictionary to store results
results = {}

# Calculate metrics for numeric columns
numeric_df = df.select_dtypes(include='number')
for column in numeric_df.columns:
    results[column] = {
        'min': numeric_df[column].min(),
        'max': numeric_df[column].max(),
        'mean': numeric_df[column].mean(),
        'std': numeric_df[column].std(),
        'count': numeric_df[column].count(),
        'p90': numeric_df[column].quantile(0.25),
        'p75': numeric_df[column].quantile(0.75),
        'p50': numeric_df[column].quantile(0.5),
        'p25': numeric_df[column].quantile(0.25),
        'unique_count': numeric_df[column].nunique(),
        'most_common': numeric_df[column].mode()[0] if not numeric_df[column].mode().empty else None,
        'count_non_null': numeric_df[column].count(),
    }

# Calculate metrics for non-numeric columns
non_numeric_df = df.select_dtypes(exclude='number')
for column in non_numeric_df.columns:
    results[column] = {
        'unique_count': non_numeric_df[column].nunique(),
        'most_common': non_numeric_df[column].mode()[0],
        'count_non_null': non_numeric_df[column].count(),
    }


# Convert results to a DataFrame for better visualization
# the .T attribute is used to transpose the DataFrame
results_df = pd.DataFrame(results).T

results_df

### Counting Unique Values

To get the number of unique values in each column:

```python
unique_counts = df[column].nunique()
print("Number of unique values:\n", unique_counts)
```
You can also get the list of unique values using
unique_values = df[column].unique()

In [ ]:
# Get number of unique values of each column as a dictionary
nunique_values_dict = {col: df[col].nunique() for col in df.columns}

print(nunique_values_dict)

### Counting Null Values

To count the number of null values in each column:

```python
null_counts = df.isnull().sum()
print("Number of null values:\n", null_counts)
```

>`isnull()` and `isna()` are equivalent function to identify the missing values

In [ ]:
null_counts = df.isnull().sum()
print("Number of null values:\n", null_counts)

In [ ]:
# Playground to explore with functions to understand the dataframe

In [ ]:
unique_values = df['housing_median_age'].unique()
print(unique_values)

In [ ]:
# seaborn library is a powerful visualization tool built on top of matplotlib.
# It provides a high-level interface for drawing attractive statistical graphics.
import seaborn as sns

# import the matplotlib.pyplot module and assign it to the alias 'plt'
import matplotlib.pyplot as plt

# Initialize a new figure for the plot: 10 inches width and 6 inches height.
plt.figure(figsize=(10, 6))
#Histogram with Density Plot
"""
:
sns.histplot(...): This function creates a histogram for the specified data.
The bins parameter determines how many intervals will be used in the histogram.
kde=True: enables the kernel density estimate (KDE) plot, which provides a smoothed version of the histogram.
 It shows the probability density function of the variable, helping to visualize the distribution more clearly.
color='grey': sets the color of the histogram bars to grey.
alpha=0.5: sets the transparency level of the histogram bars, making them semi-transparent (50% opacity), which can help in visualizing overlapping elements.
"""
sns.histplot(df['housing_median_age'], bins=int(df['housing_median_age'].max()) - int(df['housing_median_age'].min()), kde=True, color='grey', alpha=0.5)

plt.title('Histogram with Density Plot')
plt.xlabel('Housing median age')
plt.ylabel('Frequency')
plt.grid(axis='y')
plt.show()

In [ ]:
unique_counts = df.nunique()
print("Number of unique values:\n", unique_counts)

##🏆 Understanding the Data Challenge

**Descriptive Statistics Calculation of NYC Taxi Trips**

In this challenge, you will analyze a dataset to calculate descriptive statistics for both numeric and non-numeric columns.

The goal of this challenge is to create a dictionary that stores descriptive statistics for each column in the dataset.

This will include metrics for numeric columns (like min, max, mean, standard deviation, percentiles, and unique counts) and key statistics for non-numeric columns (like unique counts and the most common value).

Finally, you will convert this information into a DataFrame for easier visualization.

The data source will be the parquet file located at https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet


Steps to Accomplish the Challenge

- Load the Dataset:

  Ensure you have the dataset loaded into a DataFrame named df.

- Create a Results Dictionary:

  Initialize an empty dictionary to store the results of your calculations.

- Calculate Metrics for **Numeric** Columns:

  Use the `select_dtypes()` method to create a DataFrame containing only numeric columns.

  Iterate through the numeric columns and calculate the following metrics:
  - Minimum value
  - Maximum value
  - Mean
  - Standard deviation
  - Count of non-null values
  - Percentiles (25th, 50th, 75th)
  - Unique count
  - Most common value (mode)
  
- Calculate Metrics for **Non-Numeric** Columns:

  Create a DataFrame for non-numeric columns using select_dtypes().
  
  Iterate through the non-numeric columns and calculate:
  - Unique count
  - Most common value (mode)
  - Count of non-null values

- Convert Results to a DataFrame:

  Convert the results dictionary into a DataFrame for better visualization, using the `.T` attribute to transpose it.

- Display the Results:

  Print the resulting DataFrame to review the summary statistics for all columns.

In [ ]:
import pandas as pd
df_taxi = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

In [ ]:
df_taxi.info()

In [ ]:
df_taxi.describe()

In [ ]:

# Create a dictionary to store results
results = {}

# Calculate metrics for numeric columns
numeric_df = df_taxi.select_dtypes(include='number')
for column in numeric_df.columns:
    results[column] = {
        'min': numeric_df[column].min(),
        'max': numeric_df[column].max(),
        'mean': numeric_df[column].mean(),
        'std': numeric_df[column].std(),
        'count': numeric_df[column].count(),
        'p90': numeric_df[column].quantile(0.25),
        'p75': numeric_df[column].quantile(0.75),
        'p50': numeric_df[column].quantile(0.5),
        'p25': numeric_df[column].quantile(0.25),
        'unique_count': numeric_df[column].nunique(),
        'most_common': numeric_df[column].mode()[0] if not numeric_df[column].mode().empty else None,
        'count_non_null': numeric_df[column].count(),
    }

# Calculate metrics for non-numeric columns
non_numeric_df = df_taxi.select_dtypes(exclude='number')
for column in non_numeric_df.columns:
    results[column] = {
        'unique_count': non_numeric_df[column].nunique(),
        'most_common': non_numeric_df[column].mode()[0],
        'count_non_null': non_numeric_df[column].count(),
    }

# Convert results to a DataFrame for better visualization
# the .T attribute is used to transpose the DataFrame
results_df = pd.DataFrame(results).T

results_df

In [ ]:
nunique_values_dict = {col: df_taxi[col].nunique() for col in df_taxi.columns}

print(nunique_values_dict)

In [ ]:
null_counts = df_taxi.isnull().sum()
print("Number of null values:\n", null_counts)

## Data Cleaning
Real-world datasets often have missing or inconsistent data. Pandas makes it easy to identify and clean this data.

Make sure to always do a copy of your dataframe to be able to go back to the source.

The way to do it is using the .**copy** function

```python
df_modified = df.copy()
```

### Renaming columns

We can change the name of the columns of the dataframe using the **rename** function. This functions takes as parameter a dictionary with the old column names as key and the new column names as values.
```python
df.rename(columns='old_column_name1':'new_column_name1',
  'old_column_name2':'new_column_name2'})
```

In [ ]:
df.columns
df = df.rename(columns={'housing_median_age': 'median_house_age'})
df.columns

### Changing the format of columns

#### Using `astype()` function

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'A': ['1', '2', '3'],
    'B': [10.5, 20.2, 30.3],
    'C': [1.512, 2.023, 3.653],
    'Date': ['2024-01-01', '2024-02-01', '2024-03-01'],
    'Name': ['alice', 'bob', 'charlie'],
    'Amount': [1500.5, 2500.75, 3000.45]
})

# Change column 'A' from string integer
df['A'] = df['A'].astype(int)

# Change column 'B' from float to integer
df['B'] = df['B'].astype(int)

df

#### Rounding numeric columns

In [ ]:
df['C'] = df['C'].round(1)
df

#### Formatting strings

Applying lambda functions to the column for example to add 0´s to the left

In [ ]:
df['A'] = df['A'].apply(lambda x: f"{x:03}")
df

#### Converting dates

If you have date columns, you can use `pd.to_datetime()` to convert them to datetime format and `dt.strftime()` to display them in a specific format.

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.strftime('%a %d %B %Y')
df

#### Altering the text case
For example we can choose to convert all the values in a string column to upper case.

In [ ]:
df['Name'] = df['Name'].str.upper()
df

#### Formatting currency
If we are working with monetary values we might want to format the amount accordingly.

In [ ]:
df['Amount_EUR'] = df['Amount'].apply(lambda x: f"{x:,.2f} €")
df

#### Extracting parts of a string

In [ ]:
df['Name_initial'] = df['Name'].str[0]
df

### Handling Missing Values

In case of a missing value we can fill it with an aggregated value like the mean of the column.

- Initial Check:

  Start with `df.isnull().sum()` to get a quick overview of null values in the dataframe

- Detailed Analysis:

  If you notice a significant number of missing values in certain columns, you might want to investigate those columns further. For example, you could check the data types and consider how to handle missing values based on the type of data (`mean` for numeric, `mode` for categorical, etc.).

```python  
# Check for missing values
print(f"Number of null values:\n{df.isnull().sum()}")

# Fill missing values
for column in df.columns:
    if df[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
        df[column].fillna(df[column].mean(), inplace=True)  # Fill with mean
    elif df[column].dtype == 'object':  # Check if the column is categorical
        df[column].fillna(df[column].mode()[0], inplace=True)  # Fill with mode

# Verify that there are no more missing values
print(f"Number of null values after filling:\n{df.isnull().sum()}")
```




2. Discarding Null values

In case of missing values we can also delete all the row.

```python
# Drop rows with missing values, if any
df.dropna(inplace=True)
```

> 💡 When you´re doing cleanup task, it´s usually better to create a copy of the dataframe so that you can always go back to the initial version

```python
# Drop rows with missing values, if any without modifying the original dataframe
df_clean = df.dropna()
```

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'Date': ['2024-01-01', '2024-02-01', '2024-03-01'],
    'Name': ['alice', 'bob', 'charlie'],
    'Amount': [1500.5, 2500.75, np.nan]
})

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
df.isna().any(axis=1)

In [ ]:
#df.loc[] usues boolean indexing to select the rows from the dataframe that has any null
df.loc[df.isna().any(axis=1)]

### Identify outliers

**Outliers** are data points that differ significantly from the majority of the data. They could represent extreme values or rare events, but they could also be due to errors in data collection, measurement, or entry.

There are several techniques to identify outliers in a DataFrame. The most common methods are:


| Method                         | Description                                                                                   | When to Use                                                    |
|---------------------------------|-----------------------------------------------------------------------------------------------|---------------------------------------------------------------|
| **IQR (Interquartile Range)**   | Calculates Q1, Q3, and IQR; identifies outliers outside `Q1 - 1.5 * IQR` and `Q3 + 1.5 * IQR` | When you need to detect data points far from the central data |
| **Z-Score**                     | Calculates the Z-score to find data points with high deviation from the mean                  | When data is normally distributed and outliers are extreme     |
| **Boxplot**                     | Visualizes the distribution and outliers using quartiles and whiskers                         | For visual detection of outliers in univariate data           |
| **Scatter Plot**                | Visualizes outliers in bivariate data by showing points far from clusters of data points      | For identifying outliers in two-variable relationships         |
| **Pairplot (Multivariate)**     | Visualizes pairwise relationships in high-dimensional datasets                               | For multidimensional data and identifying outliers in multiple features |

In [ ]:

from vega_datasets import data
cars = data.cars()

# Display the first few rows to understand the data structure
# print(cars.head())
# Calculate Q1 (25th percentile) and Q3 (75th percentile) for the 'horsepower' column
Q1 = cars['Horsepower'].quantile(0.25)
Q3 = cars['Horsepower'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers in the 'horsepower' column
outliers = cars[(cars['Horsepower'] < lower_bound) | (cars['Horsepower'] > upper_bound)]

# Display the outliers
print("Outliers detected in 'horsepower' column:")
print(outliers[['Name', 'Horsepower']])

##🏆 Data Cleaning Challenge

**Data Cleaning of Taxi Trip Data**

In this challenge, you will work with a dataset of yellow taxi trip data to perform data cleaning tasks. Your objective is to handle missing values in the dataset appropriately, ensuring that it is ready for analysis.

The data source will be the parquet file located at https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet

Steps to Accomplish the Challenge

- Load the Dataset:

  Use the pandas library to read the parquet file from the provided URL and store it in a DataFrame named df_taxi.
  
- Check for Missing Values:

  Print the number of null values in each column of the DataFrame to understand the extent of missing data.

- Fill Missing Values:

  Iterate through each column in the DataFrame:
  - For numeric columns (of type `float64` or `int64`), fill missing values with the mean of that column.
  - For categorical columns (of type `object`), fill missing values with the mode (most frequent value) of that column.

- Verify Completion:

  Print the number of null values in each column again to confirm that all missing values have been successfully filled.

In [ ]:
import pandas as pd
df_taxi = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

In [ ]:
# Check for missing values
print(f"Number of null values:\n{df_taxi.isnull().sum()}")

In [ ]:
# Fill missing values
for column in df_taxi.columns:
   if df_taxi[column].dtype in ['float64', 'int64']:  # Check if the column is numeric
       df_taxi[column] = df_taxi[column].fillna(df_taxi[column].mean())  # Fill with mean
   elif df_taxi[column].dtype == 'object':  # Check if the column is categorical
       df_taxi[column] = df_taxi[column].fillna(df_taxi[column].mode()[0])  # Fill with mode

# Verify that there are no more missing values
print(f"Number of null values after filling:\n{df_taxi.isnull().sum()}")

In [ ]:
# Another way to fill the null values more flexible and scalable

# Fill numeric columns with their mean and object columns with their mode using a dictionary
fill_values = {col: df_taxi[col].mean() if df_taxi[col].dtype in ['float64', 'int64'] else df_taxi[col].mode()[0]
               for col in df_taxi.columns}

df_taxi = df_taxi.fillna(fill_values)

## Filtering and Selecting Data
Pandas makes it easy to filter data based on certain conditions and select specific columns.

### Selecting Columns
We can use the **`[[]]`** syntax to indicate the columns to be selected.

```python
# Select specific columns
subset = df[['Column1', 'Column2']]
```

Or we can use the **drop** function to remove the columns that we don´t want.

```python
df.drop(['Column3'], axis=1)
```

> Pandas DataFrames have 2 main axes:
  - axis=0: Represents the rows (or index) of the DataFrame.
  - axis=1: Represents the columns of the DataFrame.

### Filtering Rows Based on Conditions

We can select elements in the dataframe that meet a condition in this way:
```python
# Filter rows where 'Column1' > 50
filtered_data = df[df['Column1'] > 50]
```

To apply multiple conditions when filtering a DataFrame in pandas, you should use the bitwise operators `&` (for AND) or `|` (for OR) instead of the `and` keyword. Additionally, each condition needs to be enclosed in parentheses

```python
# Filter rows where 'Column1' > 50 and at the same time 'Column2' > 0
filtered_data = df[(df['Column1'] > 50) & (df['Column2']> 0)]
```

We can also achieve the same using the **query** operations

```python
# Filter rows where 'Column1' > 50
filtered_data = df.query('Column1 > 50  & Column2 > 0' ]
```

In [ ]:
# We are going to get a dataframe
# with longitude, latitude, median_house_value
# where median_house_value is < 200000 and media housing_median_age > 30
df_filtered = df[(df['median_house_value'] < 200000) & (df['housing_median_age'] > 30)]
df_filtered = df_filtered[['longitude', 'latitude', 'median_house_value', 'housing_median_age']]
df_filtered

In [ ]:
df_filtered = df.query('median_house_value < 200000 & housing_median_age > 30')[['longitude', 'latitude', 'median_house_value', 'housing_median_age']]
df_filtered

When we filter rows in the dataframe, this makes the index to have jumps because of the removed elements.
We can fix it with the **reset_index** command.
Doing the reset_index moves the old index as a column of the dataframe by default, but as this information is not useful for our purposes we use the `drop=True`

In [ ]:
df_filtered = df_filtered.reset_index(drop=True)
df_filtered

### Finding duplicates
To check the data quality of the dataframe is very interesting to find any duplicated key element.

To find duplicated rows we can use the **duplicated** function that returns a series fo boolean values indicating if the row is duplicated or not.

```python
df.loc[df.duplicated()]
```

In [ ]:
df.loc[df.duplicated()]

We can also look for rows where a certain column or combination of columns is duplicated.

In [ ]:
df_duplicated = df.loc[df.duplicated(subset=['longitude','latitude'])]
df_duplicated

##🏆 Filtering and Selecting Data challenge

**Filtering Taxi Trip Data**

In this challenge, you will work with a dataset of yellow taxi trip data to filter out trips based on specific criteria related to passenger count and trip distance. Your objective is to create a new DataFrame that includes only valid taxi trips for further analysis.

The data source will be the parquet file located at https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet

Conditions:
- the number of passengers is between 1 and 5 (inclusive)
- the trip distance is greater than 0.

The final result dataframe should include only the following columns:
```
'passenger_count', 'trip_distance', 'fare_amount', 'tip_amount', 'total_amount', 'VendorID','tpep_pickup_datetime', 'tpep_dropoff_datetime'
```

This will help ensure that the data you analyze is relevant and meets specific criteria.

Steps to Accomplish the Challenge
- Load the Dataset:

  Ensure you have the yellow taxi trip dataset loaded into a DataFrame named df_taxi.

- Understand the Data:

  Familiarize yourself with the DataFrame's structure, including the columns and their data types, focusing on passenger_count and trip_distance.

- Filter the Data:

  Use boolean indexing to create a new DataFrame, filtered_data, that meets the following conditions:
  The passenger_count must be greater than 0 and less than or equal to 5.
  The trip_distance must be greater than 0.

- Filter Columns:

  Include only the columns that are relevant for the analysis.

- Verify the Filtered Data:

  Check the shape or the first few rows of the filtered_data DataFrame to ensure the filtering was applied correctly and that it contains only the desired trips.


*passenger_count*>0 and passenger_count<=5

In [ ]:
import pandas as pd
df_taxi = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

In [ ]:

filtered_data = df_taxi[(df_taxi['passenger_count'] > 0) & (df_taxi['passenger_count'] <= 5) & (df_taxi['trip_distance'] > 0)]

filtered_data = filtered_data[['passenger_count', 'trip_distance', 'fare_amount', 'tip_amount', 'total_amount', 'VendorID','tpep_pickup_datetime', 'tpep_dropoff_datetime']]
print(filtered_data.head())

## Grouping and Aggregating Data
Grouping data is essential in data analytics to calculate summary statistics for different categories.

### Categorical values

📝 A category column (or categorical column) in a dataset refers to a column that contains discrete values representing categories or groups rather than continuous numeric data.

- Non-Numeric Data: The values in a categorical column are usually non-numeric. For example, values like "red," "blue," "male," "female," or "low," "medium," "high" are common.
- Finite Set of Values: The possible values in a category column are usually finite and limited. For example, the "color" column might only contain values like "red," "green," or "blue."
- Labels or Groups: The values represent labels or groups for the data. These groups may or may not have an inherent order (ordinal or nominal).
- Efficient Storage: In Pandas, categorical columns can be stored using a special Categorical type, which is more memory-efficient than using object types, especially with large datasets. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html

Benefits of `.astype('category')`
- Memory efficiency: Significant reduction in memory usage by storing repeated values as integer codes.
- Faster operations: Integer-based operations are much faster than string operations (e.g., grouping, sorting).
- Efficient for repeated values: Ideal for columns with a small number of unique values but many rows.
- Data integrity: You can define a limited set of categories and prevent invalid entries.
- Support for ordinal data: Enables sorting and comparison based on the inherent order of categories.
- Improved performance: Better performance for grouping, joining, and other operations involving categorical data.

In [ ]:
from vega_datasets import data
df_countries = data.countries()
df_countries['country'] = df_countries['country'].astype('category')
df = df_countries[['country','year', 'life_expect', 'fertility']]
df

### Groupby
We use `groupby` to group the DataFrame by the indicated column. Each unique value of it will create a separate group. For example, if there are groups for 1, 2, 3, etc., each of these groups will consist of rows.

There are multiple aggregate functions that can be used:

- `sum()`:Calculates the sum of the values for each group.
```python
grouped_data = df.groupby('CategoryColumn').sum().reset_index()
```
- `count()` :Counts the number of non-null values for each group.
```python
grouped_data = df.groupby('CategoryColumn').count().reset_index()
```
- `min()`:Finds the minimum value for each group.
```python
grouped_data = df.groupby('CategoryColumn').min().reset_index()
```
- `max()`: Finds the maximum value for each group.
```python
grouped_data = df.groupby('CategoryColumn').max().reset_index()
```
- `std()`: Calculates the standard deviation of the values for each group.
```python
grouped_data = df.groupby('CategoryColumn').std().reset_index()
```
- `median()`: Calculates the median value for each group.
```python
grouped_data = df.groupby('CategoryColumn').median().reset_index()
```

In [ ]:
#Playground : Use this cell to explore
grouped_data = df.groupby('country').mean().reset_index()
grouped_data

- `first()`: Returns the first value in each group.
```python
# Sort the DataFrame by 'Category' and 'Date'
df_sorted = df.sort_values(by=['Category', 'Date'])
# Group by 'Category' and get the first entry for each group
first_entries = df_sorted.groupby('Category').first().reset_index()
```
- `last()`: Returns the last value in each group.

In [ ]:
df_sorted = df.sort_values(by=['country', 'year'])
grouped_data = df_sorted.groupby('country').first().reset_index()
grouped_data

- `agg()`:   The `agg()` function is used to specify the aggregation operations that will be applied to each group created by the `groupby()`. This allows you to calculate multiple statistics in a single step.

  Inside `agg()`, each aggregation is defined in the format `new_column_name=('original_column_name', 'function')`.
  This creates a new column named new_column_name in the resulting DataFrame.




> If you don’t add `reset_index()` after using `groupby()` and `agg()`, the result will be a DataFrame with a hierarchical index (multi-index) that consists of the grouping columns (in this case, passenger_count). This means that the grouping column(s) will become the index of the resulting DataFrame rather than regular columns.

**Implications of Not Using reset_index()**

- Accessing Data: You will have to use the `.loc[]` or `.iloc[]` methods to access the data, which can be less intuitive than working with a standard DataFrame.

- DataFrame Appearance: The DataFrame will look different because the columns used to group by will be part of the index rather than a column, which may make it harder to interpret at a glance.

- Subsequent Operations: If you want to perform further operations that expect the grouping variable to be a column (like merging, filtering, or plotting), you may need to reset the index later on, which can add extra steps to your workflow.

In [ ]:
df.head()

In [ ]:
# Use this as a playground to explore with grouping and aggregations

df_summary = df.groupby('country').agg({
    'year': ['min', 'max'],           # First and last year with data
    'life_expect': 'mean',            # Average GDP
    'fertility': 'median'             # Median fertility
})
df_summary

##🏆 Grouping and Aggregating Data Challenge

**Does the number of passengers affect the tip amount for the taxi trip?**

You are tasked with analyzing taxi trip data to understand how passenger count affects tipping behavior and trip characteristics.

Using the filtered DataFrame from the previous challenge, calculate the average tip amount, average trip distance, and the total number of trips for different passenger counts.

- The average tip amount for each group of passenger counts.
- The average trip distance for each group.
- The total number of trips for each group.

By completing this challenge, you will gain insights into the relationship between passenger count and trip metrics, which can be valuable for understanding customer behavior and improving service.

Steps to Accomplish the Challenge
- Import Required Libraries:

  Ensure you have the necessary libraries imported, particularly pandas.

- Load the Data:

  Load the taxi trip data into a DataFrame. If using a filtered DataFrame (e.g., filtered_data), make sure it has already been created based on relevant criteria (such as valid passenger counts).

- Group the Data:

  Use the groupby() method on the passenger_count column to group the data accordingly.

- Aggregate the Statistics:

  Use the agg() function to compute:
  - The average of the tip_amount column (average tip).
  - The average of the trip_distance column (average trip distance).
  - The count of non-null values (number of trips).

  Ensure to name the resulting columns appropriately.

- Reset the Index:

  Call reset_index() to convert the grouped object back into a standard DataFrame format, making it easier to read and manipulate.

- Display the Results:

  Print or display the resulting DataFrame average_stats to view the aggregated statistics.

In [ ]:
average_stats = filtered_data.groupby('passenger_count').agg(
    average_tip=('tip_amount', 'mean'),
    average_trip_distance=('trip_distance', 'mean'),
    number_trips=('tip_amount', 'count')
).reset_index()
# The reset_index() method is called to convert the grouped object back into a DataFrame.
average_stats

## Data Visualization with Pandas
You can create quick plots directly from pandas, which integrates well with Matplotlib for more complex visualizations.

For **Feature understanding**, also called univariate analysis we use:
- Histogram
- KDE
- Boxplot

For **Feature relationships**, also known as multivariate analysis the most frequent chart types are:
- Scatterplot
- Heatmap correlation
- Pairplot

### Matplotlib summary

- Line Chart: Used to display data points connected by straight lines, ideal for showing trends over time. `plt.plot(x, y)`
- Bar Chart: Displays data with rectangular bars representing the values, useful for comparing different categories. `plt.bar(x, height)`
- Horizontal Bar Chart: Similar to a bar chart, but bars are displayed horizontally. `plt.barh(y, width)`
- Histogram: Used to represent the distribution of numerical data by dividing the data into bins. `plt.hist(data, bins=10)`
- Scatter Plot: Displays individual data points using Cartesian coordinates, useful for showing relationships between two variables.
`plt.scatter(x, y)`
- Pie Chart: Represents proportions of a whole as slices of a circle, suitable for showing percentage distributions.
`plt.pie(sizes, labels=labels)`
- Box Plot: Displays the distribution of data based on five summary statistics: minimum, first quartile, median, third quartile, and maximum. `plt.boxplot(data)`
- Heatmap: Represents data values in a matrix format using color gradients, useful for visualizing correlations or patterns. `plt.imshow(data, cmap='hot', interpolation='nearest')`
- Area Chart: Similar to line charts, but the area below the line is filled in, highlighting the volume of data. `plt.fill_between(x, y)`
- Violin Plot: Combines box plot and kernel density plot to show data distribution and density, useful for comparing distributions between multiple groups. `plt.violinplot(data)`


[Documentation](https://matplotlib.org/)

![Matplotlib cheat sheet](https://matplotlib.org/cheatsheets/_images/cheatsheets-1.png)(https://matplotlib.org/cheatsheets/)

![Matplotlib cheat sheet](https://matplotlib.org/cheatsheets/_images/cheatsheets-2.png)(https://matplotlib.org/cheatsheets/)

###  Simple Line Plot

A simple line chart is best used in the following scenarios:

- **Time Series Data**: When you want to visualize trends over time, such as daily, monthly, or yearly data. Line charts effectively show how values change over intervals.

- **Continuous Data**: Ideal for displaying continuous data where you expect smooth transitions between points, such as temperature changes, stock prices, or sales figures.

- **Comparison of Multiple Series**: When you need to compare multiple related datasets over the same time period. Multiple lines can be plotted on the same chart to show how different groups compare over time.

- **Highlighting Trends**: Use line charts to identify upward or downward trends and cycles in the data, helping to visualize long-term trends effectively.

- **Simple Relationships**: When you want to illustrate the relationship between two continuous variables (e.g., time and temperature) without the need for more complex visualizations.

Overall, a simple line chart is a powerful and straightforward tool for presenting data in a way that highlights changes, trends, and comparisons clearly.


```python
# Plot a line chart for a time series
df['DateColumn'] = pd.to_datetime(df['DateColumn'])
df.set_index('DateColumn')['NumericalColumn'].plot(title='Time Series Plot')
```

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Generate sample data for a month
date_range = pd.date_range(start='2024-01-01', end='2024-01-31')
np.random.seed(0)  # For reproducibility
numerical_values = np.random.randint(0, 100, size=len(date_range))

# Create a DataFrame
df = pd.DataFrame({
    'DateColumn': date_range,
    'NumericalColumn': numerical_values
})

# Convert 'DateColumn' to datetime
df['DateColumn'] = pd.to_datetime(df['DateColumn'])

# Plot a line chart for the time series
df.set_index('DateColumn')['NumericalColumn'].plot(title='Time Series Plot for January 2024')
plt.xlabel('Date')
plt.ylabel('Value')

# Adjust the y-axis to start at 0
plt.ylim(0, df['NumericalColumn'].max()+10)  # Set the y-axis limits

plt.grid()
plt.show()

### 🏆 Line Chart Challenge

**Analyzing Daily Taxi Trip Data**

The objective of this challenge is to analyze and visualize daily taxi trip data for January 2024. You will calculate the number of trips taken each day and create a time series plot to display this information clearly.

Steps to Accomplish the Challenge:
- Import Necessary Libraries:
- Load Your Data: Load the taxi trip data into a DataFrame.You can use the data generated in the previous challenge.
- Convert Timestamp to Datetime:
Convert the tpep_pickup_datetime column to a datetime format for easier manipulation.
- Extract the Date: Create a new column called date_pickup that contains only the date part of the tpep_pickup_datetime.
- Group Data by Date: Group the data by the date_pickup column and calculate the number of trips (using the count of tip_amount) for each day.
- Create a Time Series Plot: Plot the number of trips against the date using a line chart. Set the date_pickup column as the index.
- Customize the Plot: Add labels for the x-axis and y-axis.
Set the x-axis limits to display only the data for January 2024.
Rotate x-axis labels to 90 degrees for better readability.
Enable grid lines for better readability and display the plot.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Convert the 'timestamp' column to datetime
filtered_data['tpep_pickup_datetime'] = pd.to_datetime(filtered_data['tpep_pickup_datetime'])

# Extract the date from the timestamp
filtered_data['date_pickup'] = filtered_data['tpep_pickup_datetime'].dt.date

average_daily_stats = filtered_data.groupby('date_pickup').agg(
    number_trips=('tip_amount', 'count')
).reset_index()



# Plot a line chart for the time series
average_daily_stats.set_index('date_pickup')['number_trips'].plot(title='Time Series Plot for January 2024')
plt.xlabel('Date')
plt.ylabel('Trips')
# Set the x-axis limit to show a specific date range
plt.xlim(pd.Timestamp('2024-01-01'), pd.Timestamp('2024-01-31'))  # Adjust dates as needed
# Rotate x-axis labels to 90 degrees
plt.xticks(rotation=90)

plt.grid()
plt.show()

### Bar Plot for Categorical Data

Bar plot charts are particularly useful in the following scenarios:

- **Categorical Data Comparison**: When you need to compare quantities across different categories. Bar plots clearly display the differences in counts or measurements among distinct groups.

- **Discrete Variables**: Ideal for visualizing discrete data where categories are non-numerical, such as survey responses (e.g., preferences, types of products, etc.).

- **Ranking**: Bar charts can effectively show the ranking of categories based on their values. For example, you might use a bar plot to display sales figures for different products, making it easy to see which product performed best.

- **Frequency Distribution**: When you want to show the frequency distribution of a categorical variable, such as the number of occurrences of different species in a dataset.

- **Multiple Series Comparison**: Bar plots can display multiple datasets side-by-side (grouped bar plots) or stacked, allowing for easy comparison of different categories across multiple groups (e.g., sales by region and by product).

- **Data Presentation**: When you need a clear and straightforward way to present data in reports or presentations, bar plots are easily understood and visually impactful.

- **Visualization of Changes Over Time** (for Categorical Data): While line charts are generally preferred for continuous data over time, bar plots can also effectively display changes in categorical data over discrete time intervals (e.g., monthly sales by category).

Overall, bar plots are a versatile tool for visualizing categorical data and comparing quantities, making them a staple in data analysis and presentation.

```python
# Plot a bar chart for the counts of each category
df['CategoryColumn'].value_counts().plot(kind='bar', title='Category Counts')
```

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Sample data for categorical counts
data = {
    'CategoryColumn': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B', 'A', 'D', 'D', 'C']
}
df = pd.DataFrame(data)

# Count occurrences of each category
category_counts = df['CategoryColumn'].value_counts()

# Plot a bar chart for the counts of each category
plt.figure(figsize=(10, 6))  # Set the figure size
category_counts.plot(kind='bar', color='skyblue', edgecolor='black', title='Category Counts')

# Adding labels and title
plt.xlabel('Categories')
plt.ylabel('Count')
plt.xticks(rotation=0)  # Rotate x-axis labels for better readability

# Adding a grid for easier reading
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Display the value on top of each bar
for index, value in enumerate(category_counts):
    plt.text(index, value, str(value), ha='center', va='bottom')

# Show the plot
plt.tight_layout()  # Adjust layout for better spacing
plt.show()

###🏆 Bar Chart Challenge

**Analyzing Taxi Trip Volume by Vendor**

The objective of this challenge is to analyze and visualize the volume of taxi trips per vendor using the provided dataset from the Filtering and Selecting Data Challenge. You will count the number of trips associated with each vendor and create a bar chart to display this information clearly.

Steps to Accomplish the Challenge:
- Import Necessary Libraries
- Load Your Data
- Count Trip Occurrences per Vendor
- Create a Bar Chart
- Add Labels and Titles: Label the x-axis as "Vendor ID" and the y-axis as "Trips". Rotate x-axis labels if necessary for better readability.
- Enhance Readability with Grid Lines
- Display Values on Top of Bars
- Show the Plot

By following these steps, you will generate a bar chart that visually represents the volume of taxi trips for each vendor. This visualization will help identify trends in trip distribution among different vendors and provide insights into their relative performance.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Count occurrences of each category
category_counts = filtered_data['VendorID'].value_counts()

# Plot a bar chart for the counts of each category
plt.figure(figsize=(10, 6))  # Set the figure size
category_counts.plot(kind='bar', color='lightgrey', edgecolor='black', title='Trips per vendor')

# Adding labels and title
plt.xlabel('Vendor ID')
plt.ylabel('Trips')
plt.xticks(rotation=0)  # Rotate x-axis labels for better readability

# Adding a grid for easier reading
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Display the value on top of each bar
for index, value in enumerate(category_counts):
    plt.text(index, value, str(round(value / 1_000))+' thousands', ha='center', va='bottom')

# Show the plot
plt.tight_layout()  # Adjust layout for better spacing
plt.show()

### Scatter Plot for Numerical Relationships

Scatter plots are useful in the following scenarios:

- **Relationship Between Two Variables**: When you want to explore the relationship or correlation between two numerical variables. Scatter plots can reveal whether a positive, negative, or no correlation exists.

- **Identifying Trends**: They help visualize trends in data, showing how one variable changes in relation to another. For example, you might use a scatter plot to analyze how temperature affects ice cream sales.

- **Outlier Detection**: Scatter plots are effective for identifying outliers or anomalies in the data. Points that fall far away from the general cluster of data can indicate unusual behavior or errors in data collection.

- **Distribution Visualization**: When you need to see the distribution of data points across two dimensions. This can help in understanding the density and spread of data.

- **Multivariable Analysis**: If you want to explore potential interactions between two variables while considering other variables, scatter plots can be enhanced with color or size encoding to represent additional data dimensions.

- **Comparative Analysis**: They can be used to compare different groups or categories within the data. By using different colors or markers for different categories, you can see how they relate to each other.

- **Regression Analysis**: Scatter plots are often the first step in regression analysis, allowing you to visualize the data before fitting a regression model to understand the relationship better.

In summary, scatter plots are a powerful tool for visualizing relationships and distributions in numerical data, making them invaluable for exploratory data analysis and hypothesis testing.

```python
# Plot a scatter plot to see relationships between two numerical columns
df.plot(kind='scatter', x='NumericalColumn1', y='NumericalColumn2', title='Scatter Plot')
```

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Sample data for two numerical columns
np.random.seed(0)  # For reproducibility
data = {
    'NumericalColumn1': np.random.rand(100) * 100,  # Random values between 0 and 100
    'NumericalColumn2': np.random.rand(100) * 100  # Random values between 0 and 100
}

df = pd.DataFrame(data)

# Create a scatter plot to see relationships between two numerical columns
plt.figure(figsize=(10, 6))  # Set the figure size
plt.scatter(df['NumericalColumn1'], df['NumericalColumn2'],
            color='blue', alpha=0.6, edgecolor='black')

# Adding titles and labels
plt.title('Scatter Plot of NumericalColumn1 vs NumericalColumn2')
plt.xlabel('NumericalColumn1')
plt.ylabel('NumericalColumn2')

# Adding a grid for better readability
plt.grid(True, linestyle='--', alpha=0.7)

# Optionally, you can add a regression line (if applicable)
# Here, we calculate a simple linear regression line
m, b = np.polyfit(df['NumericalColumn1'], df['NumericalColumn2'], 1)
plt.plot(df['NumericalColumn1'], m * df['NumericalColumn1'] + b, color='red', linewidth=2)

# Show the plot
plt.tight_layout()  # Adjust layout for better spacing
plt.show()

### 🏆 Scatterplot Chart Challenge

**Analyzing Trip Data Relationships**

The goal of this challenge is to analyze the relationship between the total amount charged for taxi trips and the distance traveled. This involves cleaning the dataset by removing outliers and correcting data issues, followed by visualizing the results with a scatter plot and a regression line.

High-Level Steps:

- Data Cleaning:

  - Identify and filter out outlier trips with excessive trip distances (greater than 200 kilometers).
  - Convert any negative values in the total_amount column to their absolute values to ensure all amounts are non-negative.

- Data Visualization:

  - Create a scatter plot to visualize the relationship between total_amount and trip_distance.
  - Set appropriate titles and labels for clarity, including a grid for better readability.

- Regression Analysis:

  - Calculate the linear regression line to understand the correlation between the two variables. Use `numpy.polyfit()` to obtain the slope and intercept.
  - Generate a range of x-values for the regression line based on the cleaned total_amount data.
  - Calculate the corresponding y-values using the linear regression equation.

- Final Visualization:

  Plot the regression line over the scatter plot to illustrate the relationship between the total amount charged and trip distance.
  Display the final plot with proper layout adjustments for optimal viewing.

This challenge will help you practice data cleaning, visualization techniques, and regression analysis using Python and its libraries.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#We identify some outliers and data issues that we need to correct:

#There are some outlier trips with trip_distances of thousands of kilometers
filtered_data = filtered_data[(filtered_data['trip_distance'] < 200)]
#There are also trips with negative value in total_amount
filtered_data['total_amount'] = filtered_data['total_amount'].abs()


# Create a scatter plot to see relationships between two numerical columns
plt.figure(figsize=(10, 6))  # Set the figure size
plt.scatter(filtered_data['total_amount'], filtered_data['trip_distance'],
            color='blue', alpha=0.6, edgecolor=(0, 0, 0, 0))

# Adding titles and labels
plt.title('Scatter Plot of Total amount vs Trip distance')
plt.xlabel('Total amount')
plt.ylabel('Trip distance')

# Adding a grid for better readability
plt.grid(True, linestyle='--', alpha=0.7)

# Calculate linear regression
m, b = np.polyfit(filtered_data['total_amount'], filtered_data['trip_distance'], 1)

# Create a range of x values for the regression line
x_values = np.linspace(filtered_data['total_amount'].min(), filtered_data['total_amount'].max(), 100)

# Calculate the corresponding y values for the regression line
y_values = m * x_values + b

# Plot the regression line
plt.plot(x_values, y_values, color='red', linewidth=2)

# Show the plot
plt.tight_layout()  # Adjust layout for better spacing
plt.show()

### Advanced Data Analytics: Calculating Correlations
Correlation analysis helps identify relationships between numerical columns, often a key part of data analytics.

```python

# Calculate correlations between numerical columns
correlation_matrix = df.corr()

# Display the correlation matrix
print(correlation_matrix)

# Plot a heatmap (requires seaborn library)
import seaborn as sns
import matplotlib.pyplot as plt
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")
plt.title("Correlation Matrix")
plt.show()
```

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Sample data creation
np.random.seed(0)  # For reproducibility

# Creating a DataFrame with realistic numerical data
data = {
    'Sales': np.random.normal(200, 50, 1000),  # Normal distribution of sales
    'Advertising': np.random.normal(50, 10, 1000),  # Advertising expenses
    'Profit': np.random.normal(30, 5, 1000),  # Profit values
    'Customer_Rating': np.random.uniform(1, 5, 1000),  # Customer ratings from 1 to 5
    'Product_Cost': np.random.normal(20, 5, 1000)  # Cost of the product
}

# Adjusting profit to be related to sales and advertising
data['Profit'] = data['Sales'] * 0.15 - data['Product_Cost'] + np.random.normal(0, 5, 1000)

df = pd.DataFrame(data)

# Calculate correlations between numerical columns
correlation_matrix = df.corr()

# Display the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

# Plot a heatmap
plt.figure(figsize=(10, 8))  # Set the figure size
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", fmt=".2f", square=True, linewidths=0.5)
plt.title("Correlation Matrix")
plt.show()

### Applying Functions to Columns in DataFrames
In data analytics, applying functions to columns of a DataFrame is a powerful technique for transforming and manipulating data. This can be useful for a variety of scenarios, such as data cleaning, feature engineering, and deriving new insights from existing data.

Here, we will explore several examples and use cases to illustrate how to apply functions to columns in a pandas DataFrame.

**1. Squaring Values in a Numerical Column**

Use Case: This transformation could be used in a scenario where you want to create polynomial features for a regression model.

In [ ]:
import pandas as pd

# Sample data
data = pd.DataFrame({
    'NumericalColumn': [1, 2, 3, 4, 5]
})

# Apply a custom function to square the values in 'NumericalColumn'
data['SquaredValues'] = data['NumericalColumn'].apply(lambda x: x ** 2)

print(data)

**2. Converting Units**

Use Case: This is useful in scenarios where temperature data needs to be standardized to a specific unit for analysis or visualization.

In [ ]:
# Sample data with temperature in Celsius
temperature_data = pd.DataFrame({
    'Celsius': [0, 20, 100, -10]
})

# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Apply the conversion function
temperature_data['Fahrenheit'] = temperature_data['Celsius'].apply(celsius_to_fahrenheit)

print(temperature_data)

**3. Text Processing**

Use Case: This can be particularly useful in data cleaning, where inconsistent capitalization in text data needs to be standardized before further analysis or reporting.

In [ ]:
import pandas as pd
# Sample data with names
name_data = pd.DataFrame({
    'Names': ['alice', 'BOB', 'Charlie', 'dave']
})

# Apply a function to capitalize the first letter of each name
name_data['CapitalizedNames'] = name_data['Names'].apply(lambda x: x.capitalize())

print(name_data)

**4. Conditional Transformations**

Use Case: This transformation can help categorize numerical values into discrete categories, which is useful for summarizing performance metrics.

In [ ]:
import pandas as pd
# Sample data with scores
scores_data = pd.DataFrame({
    'Scores': [85, 92, 78, 90, 60]
})

# Apply a function to categorize scores
scores_data['Grade'] = scores_data['Scores'].apply(lambda x: 'A' if x >= 90 else ('B' if x >= 80 else 'C'))

print(scores_data)

**5. Date Manipulation**

Use Case: Extracting specific date components is crucial for time series analysis and allows for grouping or filtering by time periods.

In [ ]:

# Sample data with dates
date_data = pd.DataFrame({
    'Date': ['2023-01-01', '2023-06-15', '2023-09-20']
})

# Convert to datetime format and extract the month
date_data['Date'] = pd.to_datetime(date_data['Date'])
date_data['Month'] = date_data['Date'].apply(lambda x: x.month)

print(date_data)